

.App {
  text-align: center;
}


/* App.css */
/* .custom-chessboard {
  margin: 20px;
} */



.App-link {
  color: #61dafb;
}


.nav-items{
  color:white;
}

.custom-nav{
  margin: 0;
}

.container{
  margin: 10px;
}


.scan-photo{
  padding: 10px;
  margin: 30px;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scan-photo a{
  color: green;
}

.navbar a{
  color:  #d4dcdf;
}
