.App {
  text-align: center;
  background-color: aliceblue;
  /* background-color: #E3F0ED; */
}


/* App.css */
/* .custom-chessboard {
  margin: 20px;
} */



.App-link {
  color: #61dafb;
}


.nav-items{
  color:white;
}

.custom-nav{
  margin: 0;
}

.container{
  margin: 10px;
  min-height: 700px;
}


.scan-photo{
  padding: 10px;
  margin: 30px;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scan-photo a{
  color: green;
}

.navbar a{
  color:  #d4dcdf;
}

.logo{
  width:70px;
}

.navbar-custom{
  background-color: rgb(1, 70, 64);
  /* background-color: #0b322a; */
  /* background-color: #0E4338; */
}

footer{
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgb(154, 173, 178);
}

.reset{
  color: #1c8670;
}
